<% import time %>
<tr style="margin:0px;border:0px;padding:0px">
	<td style="border:0px;margin:0px;padding-left:10px;padding-right:30px">
		<div id="entry_${dirEntry.entryName}">
% if dirEntry.isdir:
		<img src="images/folder.png"/>
		<a id="link_${dirEntry.entryName}" href="cd?path=${dirEntry.entryName}" onclick="onClickDirEntry('${dirEntry.entryName}');return false" title="Change to &quot;${dirEntry.entryName}&quot; directory">
			<span id="file_${dirEntry.entryName}">
				${dirEntry.entryName}
			</span>
		</a> 
%	if dirEntry.entryName != '..':
		<a href="" onclick="onClickFileName('${dirEntry.entryName}', true);return false" title="Rename folder"><img src="images/rename.png"></a>
%	endif
% else:
		<img src="images/file.jpg"/>
		<span style="cursor:pointer;" id="file_${dirEntry.entryName}">
			<span onclick="onClickFileName('${dirEntry.entryName}', false)" title="Rename file">
				${dirEntry.entryName}
			</span>
		</span>
% endif
% if not dirEntry.isdir or dirEntry.entryName != '..':
		<a href="download?path=${dirEntry.entryName}" title="Download"><img src="images/download.png"/></a>
		<a href="delete/${dirEntry.entryName}" onclick="onClickDeleteEntry('${dirEntry.entryName}');return false" title="Delete"><img src="images/delete.png"></a>
% endif
		</div>
	</td>
	<td align="right" style="margin:0px;border:0px;padding-left:10px;padding-right:10px">
		% if not dirEntry.isdir:
			${"{:,.0f} bytes".format(dirEntry.size)}
		% endif		
	</td>
	<td align="left" style="margin:0px;border:0px;padding-left:5px;padding-right:10px">
		<% t = time.localtime(long(dirEntry.modifyTime)) %>
		${time.strftime("%m/%d/%Y %I:%M %p", t)}
	</td>
	<td style="margin:0px;border:0px;padding-right:5px;padding-left:10px">
		<% t = time.localtime(long(dirEntry.createTime)) %>
		${time.strftime("%m/%d/%Y %I:%M %p", t)}
	</td>
</tr>
